* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  min-width: 100vw;
}

.landingPageContainer {
  width: 100vw;
  min-height: 100vh;
  background-color: black;
  position: relative;

  /* background-image: linear-gradient(45deg, #7603cf, #05ddcc, #6f1569); */
  background-image: linear-gradient(45deg, #450e6f, #000);
}

.animationContainer {
  position: relative;
  display: flex;
  gap: 15rem;
}

.obj1 {
  width: 30px;
  height: 10px;
  display: flex;
  position: relative;
  background: #7603cf;
  margin: 0 1rem;
  border-radius: 100%;
  box-shadow: 0 0 51px 33px #6a3397, 0px 0px 72px 26px #ac59f2,
    0 0 102px 86px #773da4, 0 0 69px 52px #a674cc;
  animation: animate 10s linear infinite;
  animation-duration: calc(125s / 4);
  z-index: 10;
}

.obj1:nth-child(even) {
  background: #05ddcc;
  box-shadow: 0 0 51px 33px #05ddcc, 0px 0px 72px 26px #73ded5,
    0 0 102px 86px #60ddd2, 0 0 69px 52px #7fd8d1;
  animation: animateDiagonal 10s linear infinite;
  animation-duration: calc(125s / 5);
}

@keyframes animate {
  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(-100vh);
  }
}

@keyframes animateDiagonal {
  0% {
    transform: translateY(100vh) translateX(-100vh);
  }

  100% {
    transform: translateY(-100vh) translateX(100vh);
  }
}
