.techstackInnerContainer {
  color: #a1a7b3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.techstackCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.techstackLogoContainer {
  width: 100px;
  height: 100px;
  background-color: #737ca870;
  border-radius: 20px;
  padding: 1.5rem;
}

@media (max-width: 600px) {
  .techstackLogoContainer {
    width: 55px;
    height: 55px;
    padding: 1rem;
  }
}

.techstackLogoContainer img {
  width: 100%;
  height: 100%;
}
.techStackTitle {
  text-transform: uppercase;
  font-size: 1rem;
}
@media (max-width: 600px) {
  .techStackTitle {
    font-size: 0.7rem;
  }
}
